# Load modules

In [ ]:
!pip install boto3

In [26]:
import configparser
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Initialization

In [27]:
!python initialization.py

Get config params
Creating iam and redshift clients
Creating a new IAM Role
Attaching Policy
Get the IAM role ARN
arn:aws:iam::059624086579:role/dwhRole
Update config file with IAM role ARN
Create cluster
Wait until cluster is created
cluster created
Get cluster endpoint
dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com
Update config file with cluster endpoint
Open an incoming  TCP port to access the cluster ednpoint. If rule already exists, exception generated.
ec2.SecurityGroup(id='sg-08654b06f58fd3893')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [28]:
!python create_tables.py

Get config params
DB connection
drop tables
create tables

# Load of tables

In [29]:
!python etl.py

Get config params
DB connection
load staging tables
load dimensionm tables

# Check of results

All the tables are correctly fed.

In [30]:
config_file_path = 'dwh.cfg'
config = configparser.ConfigParser()
config.read_file(open(config_file_path))

ENDPOINT               = config.get("CLUSTER", "DWH_ENDPOINT")    
DB_NAME                = config.get("CLUSTER","DWH_DB")
DB_USER                = config.get("CLUSTER","DWH_DB_USER")
DB_PASSWORD            = config.get("CLUSTER","DWH_DB_PASSWORD")
DB_PORT                = config.get("CLUSTER","DWH_PORT")

In [31]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER,DB_PASSWORD, ENDPOINT, DB_PORT, DB_NAME)
%sql $conn_string

Exception during reset or similar
Traceback (most recent call last):
  File "D:\Anaconda\lib\site-packages\sqlalchemy\pool\base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "D:\Anaconda\lib\site-packages\sqlalchemy\pool\base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "D:\Anaconda\lib\site-packages\sqlalchemy\engine\default.py", line 682, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: SSL SYSCALL error: EOF detected

In [32]:
%%sql
select * from staging_songs
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('ARDTIOA1187B99E779', 44.97903, 'Minneapolis, MN', -93.26493, 'Cloud Cult', 105.87383, 1, 'SOEBWSU12AB018377B', 'Sane As Can Be', 2000),
 ('AR2WOOQ1187B98E303', 55.95415, 'Edinburgh', -3.20277, 'Idlewild', 116.6624, 1, 'SOSZRTU12AF72A2916', "There's Glory In Your Story", 2000),
 ('ARB57BN1187B9B5EAF', 61.21756, 'Anchorage, AK', -149.85776, '36 Crazyfists', 198.05995, 1, 'SOEZUUJ12A8AE471BC', 'Turns to Ashes (Album Version)', 2002)]

In [33]:
%%sql
select count(*) from staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [34]:
%%sql
select * from staging_events
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(None, 'Logged In', 'Theodore', 'M', 0, 'Smith', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', '1540306145796', 154, None, 200, datetime.datetime(2018, 11, 4, 0, 15, 55, 796000), 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 52),
 ('Professor Longhair', 'Logged In', 'Ann', 'F', 0, 'Banks', 214.20363, 'free', 'Salt Lake City, UT', 'PUT', 'NextSong', '1540895683796', 124, "Mean Ol'World", 200, datetime.datetime(2018, 11, 4, 0, 50, 3, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 99),
 (None, 'Logged In', 'Jahiem', 'M', 0, 'Miles', None, 'free', 'San Antonio-New Braunfels, TX', 'GET', 'Home', '1540817347796', 42, None, 200, datetime.datetime(2018, 11, 4, 2, 37, 13, 796000), '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43)]

In [35]:
%%sql
select count(*) from staging_events;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [36]:
%%sql
select * from songplay
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(4, datetime.datetime(2018, 11, 4, 6, 7, 3, 796000), 25, 'paid', None, None, 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 4, 3, 2, 20, 796000), 43, 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 4, 10, 33, 3, 796000), 44, 'paid', None, None, 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [37]:
%%sql
select count(*) from songplay;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

In [38]:
%%sql
select * from users
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(3, 'Isaac', 'Valdez', 'M', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free')]

In [39]:
%%sql
select count(*) from users;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [40]:
%%sql
select * from songs
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('SOABNBI12A8C13F890', 'Mon légionaire', 'AR5O86P1187FB3B8CD', 0, Decimal('217')),
 ('SOABNPW12A6D4FC9B5', 'The Canals Of Our City', 'ARQOBT71187FB4CCCA', 2005, Decimal('141')),
 ('SOABQFG12A58A7C6A7', 'Seven Samurai - ending theme', 'ARKZESI119B86682ED', 0, Decimal('341'))]

In [41]:
%%sql
select count(*) from songs;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [42]:
%%sql
select * from artists
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('AR00DG71187B9B7FCB', 'Basslovers United', None, None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', Decimal('41'), Decimal('-74')),
 ('AR01SCU1187B9A693C', 'Street Dogs', 'Boston, MA', None, None)]

In [43]:
%%sql
select count(*) from artists;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [44]:
%%sql
select * from time
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 9, 1, 21, 796000), 9, 2, 44, 11, 2018, 5)]

In [45]:
%%sql
select count(*) from time;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [46]:
%%sql
select a.song_id, b.artist_id
from
songs a  
inner join
artists b
on a.artist_id = b.artist_id
limit 3;

 * postgresql://dwhuser:***@dwhcluster.cpgcm1bllgfh.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('SOADRDA12A8C139D38', 'AR8XAMK1187B993F0F'),
 ('SOAKPEL12A6D4FC126', 'ARJIE2Y1187B994AB7'),
 ('SOAMNRJ12A6D4F9080', 'ARXBOAL1187B9A309A')]

# Delete redshift cluster, IAM role

Once the test is satisfactory, all the AWS objects have to be cleaned up.

In [47]:
!python aws_objects_delete.py

Get config params
Create redshift, iam clients
delete redshift cluster
Wait until cluster is deleted
cluster deleted
delete IAM role